<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
    <ExpandedTribalsXenotypeTitle>Expanded Tribals Xenotype</ExpandedTribalsXenotypeTitle>
    <ExpandedTribalsXenotypeSelectAll>Select All</ExpandedTribalsXenotypeSelectAll>
    <ExpandedTribalsXenotypeClearAll>Clear All</ExpandedTribalsXenotypeClearAll>
</LanguageData>
